/* INITIAL */
* {
	color: #000000;
	font: normal normal normal 14px/1 FontBookerlyRegular;
	font-size: medium;
	text-rendering: optimizeLegibility;
}

/* MARKDOWN */
h1 {
	font: normal normal normal 14px/1 FontSaddlebag;
	font-size: xx-large;
	text-rendering: geometricPrecision;
	margin: 0px;
}
h2 {
	font: normal normal normal 14px/1 FontSaddlebag;
	font-size: x-large;
	text-rendering: geometricPrecision;
	margin: 0px;
}
h3 {
	font: normal normal normal 14px/1 FontSaddlebag;
	font-size: large;
	text-rendering: geometricPrecision;
	margin: 0px;
}
p {
	margin-top: 0px;
	text-align: justify;
	text-indent: 2em;
}
strong {
	font: normal normal normal 14px/1 FontBookerlyBold;
}
em {
	font: normal normal normal 14px/1 FontBookerlyRegularItalic;
}
strong em, em strong {
	font: normal normal normal 14px/1 FontBookerlyBoldItalic;
}

/* BASE CONFIGURATION */
html {
	height: 100%;
	background: linear-gradient(to bottom right, #381C2A, #F06553, #FFF474) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* HR */
hr {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

/* HEADER */
header {
	box-sizing: border-box;
	display: block;
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

header img {
	width: 100%;
}

/* SECTION */
section {
	box-sizing: border-box;
	display: block;
	max-width: 1000px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #FFF8DC;
	border-style: solid;
	border-width: 4px 0px 4px 0px;
	border-color: #000000;
}
section > h1 {
	box-sizing: border-box;
	background-color: #654321;
	color: #FFF8DC;
	margin: 0px;
	padding: 5px 10px 5px 10px;
}
section > div {
	box-sizing: border-box;
	padding: 25px;
}
section > div p:first-of-type {
	text-indent: 0px;
}

/* FOOTER */
footer {
	box-sizing: border-box;
	display: block;
	max-width: 1000px;
	margin: auto;
	background-color: #000000;
	color: #FFFDD0;
	padding: 25px;
	border-radius: 25px 25px 0px 0px;
}
