<section>
	<h1>{{include.name}}</h1>
	<div>
		{%- assign colrev = include.col | reverse -%}
		<h2><a href="{{colrev[0].url}}">{{colrev[0].title}}</a></h2>
		By: {{colrev[0].author}}, on {{colrev[0].date | date: "%-d %B %Y"}}
		<hr>
		{%- if colrev[0].preview -%}
			<img src="{{colrev[0].preview}}" alt="{{colrev[0].previewalt}}" class="previewimage">
		{%- endif -%}
		{{colrev[0].excerpt | markdownify}}<br><a href="{{colrev[0].url}}">Read more...</a>
		<hr>
		{%- if colrev[1] -%}
			<h3><a href="{{colrev[0].url}}">{{colrev[1].title}}</a></h3>
			By: {{colrev[1].author}}, on {{colrev[1].date | date: "%-d %B %Y"}}
			<hr>
		{%- endif -%}
		{%- if colrev[2] -%}
			<h3><a href="{{colrev[2].url}}">{{colrev[2].title}}</a></h3>
			By: {{colrev[2].author}}, on {{colrev[2].date | date: "%-d %B %Y"}}
			<hr>
		{%- endif -%}
		<h3>Archive...</h3>
	</div>
</section>
