<header id="top">
	<div style="
		text-align: right;
		float: right; 
		border-radius: 0px 0px 0px 50px; 
		border-style: solid; 
		border-width: 2px 0px 2px 2px;
		border-color: #2A2920;
		padding: 5px 10px 5px 25px;
		margin: 5px 0px -75px 0px;
		background-color: #F2EBD9;
		z-index: 10;
		position: relative;">
		<i class="fa fa-twitter fa-fw fa-lg fa-2x" aria-hidden="true"></i>
		<i class="fa fa-facebook fa-fw fa-lg fa-2x" aria-hidden="true"></i>
		<i class="fa fa-instagram fa-fw fa-lg fa-2x" aria-hidden="true"></i>
		<i class="fa fa-youtube-play fa-fw fa-lg fa-2x" aria-hidden="true"></i>
	</div>
	<img src="/css/img/logo_2.png" alt="The Irregulars | Sundered Marches">
	<nav>
		<span style="display: inline-block; width: 10%; text-align: left;">&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
		<span style="display: inline-block; width: 76%;">
		<a href="/"><h2>Home</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/#pageabout"><h2>About</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/news.html"><h2>News</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/story.html"><h2>Story</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/cast.html"><h2>Cast</h2></a>
		</span>
		<span style="display: inline-block; width: 10%; text-align: right;"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;</span>
	</nav>
</header>
