<header id="top">
	<div style="float: left; height: 50px; border-radius: 0px 0px 0px 50px;">
		TEST
	</div>
	<img src="/css/img/logo_2.png" alt="The Irregulars | Sundered Marches">
	<nav>
		<span style="display: inline-block; width: 10%; text-align: left;">&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
		<span style="display: inline-block; width: 76%;">
		<a href="/"><h2>Home</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/#pageabout"><h2>About</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/news.html"><h2>News</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/story.html"><h2>Story</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/cast.html"><h2>Cast</h2></a>
		</span>
		<span style="display: inline-block; width: 10%; text-align: right;"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;</span>
	</nav>
</header>
