<header id="top">
	<img src="/css/img/logo_2.png" alt="The Irregulars | Sundered Marches">
	<nav>
		<div style="float:left;">&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;</div>
		<a href="/"><h2>Home</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/news.html"><h2>News</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/story.html"><h2>Story</h2></a>
		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;
		<a href="/cast.html"><h2>Cast</h2></a>
		<div style="float:right;">&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;</div>
	</nav>
</header>
