{%- assign col = site.news -%}

{%- assign index = 0 -%}
{%- for item in col %}
    {%- if item.url == page.url %}
        {%- assign index = forloop.index -%}
    {%- endif %}
{%- endfor -%}

{%- assign index = index | minus: 1 -%}
{%- assign index_prev = index | minus: 1 -%}
{%- assign index_next = index | plus: 1 -%}

<section>
    <div>
        <div style="width: 100px; float: left; text-align: left;">
            <h3>PREV</h3>
        </div>
        <div style="width: 100px; float: right; text-align: right">
            <h3>NEXT</h3>
        </div>
        <div style="text-align: center">
            <h3>INDEX</h3>
        </div>
    </div>
    {{ index }}
    {%- if col[index].url != col.first.url -%}
        <br>
        PREV:
        <br>
        {{ col[index_prev].url }}
        <br>
        {{ col.first.url }}
    {%- endif -%}
    {%- if col[index].url != col.last.url -%}
        <br>
        NEXT:
        <br>
        {{ col[index_next].url }}
        <br>
        {{ col.last.url }}
    {%- endif -%}
</section>
